/*
font-family: 'Metal Mania', cursive;
font-family: 'Rosarivo', serif;
*/
*{
    font-family: "Rosarivo";
    /*background-color: darkred;*/
    padding: 0;
    margin: 0;
}

body{
    /*background-color: darkred;*/
}

#map {
    /* the width and height may be set to any size */
    width: 300px;
    height: 300px;
    margin-left: 100px;
    padding-left: 15px;
    margin-bottom: 25px;

}
form {
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center

}

footer{
    padding: 25px;

}



h1{
    font-family: "Metal Mania";
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#mainHeader{
    text-align: center;
    font-size: 10em;
}

.foot-one{
    float: left;
}

.foot-two{
    float: right;
    width: 50%;

}
.coffeeSearchinput{
    width: 75%;
}

.roast-control-text{
    height:50px;
    width: 75%;
}
